@import "https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet";

html {
  background-color: #B0361C;
  padding: 10px;
}

body {
  background-color: #E5D084;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

/* Buttons Global */
button {
  font-family: 'Major Mono Display', monospace;
  font-size: 15px;
  background-color: #7D7157;
  color: ghostwhite;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #57332C;
  color: #68A677;
  transition: ease all .5s;
}
/* End */

div {
  border: 1.5px solid #B0361C;
  border-radius: 10px;
}

#container {
  background-color: #68A677;
  width: 100%;
  /* height: 600px; */
  /* padding: 30px; */
  /* margin: 10px; */
  border-radius: 10px;
}

/* Box Divs */
#color-box,
#my-color-box {
  display: inline-block;
  width: 300px;
  height: 500px;
  overflow: hidden;
}
/* End */

/* Inner Boxes */
.box {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/* End */
