@import "https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet";

html {
  background-color: #B0361C;
  background-image: url("images/Color_palette.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  opacity: .92;
}

body {
  background-color: #E5D084;
  padding: 10px 40px 40px 40px;;
  margin: 0;
  border-radius: 10px;
  -webkit-animation: size-in 1.s ease 1;
  -moz-animation: size-in 1s ease 1;
  animation: size-in 1s ease 1;
}

.header {
  border: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* H1 Title */
h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  text-align: center;
}
/* End */

/* Buttons Global */
button {
  font-family: 'Major Mono Display', monospace;
  font-size: 15px;
  background-color: #7D7157;
  color: ghostwhite;
  padding: 25px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #57332C;
  color: #ADFF2F;
  box-shadow: 1px 1px 3px 4px #B0361C;
  transition: ease all .5s;
}
#color-changerBtn,
#clickColorAdd {
  margin-right: 50px;
}
#color-changerBtn,
#clickColorAdd,
#hoverColorAdd {
  -webkit-animation: size-in 1s ease 1;
  -moz-animation: size-in 1s ease 1;
  animation: size-in 1s ease 1;
}
/* End */

div {
  border: .17em solid #57332C;
  border-radius: 10px;
}

#container {
  background-color: #68A677;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/* Box Divs */
#color-box,
#my-color-box {
  background-color: cadetblue;
  display: inline-block;
  width: 500px;
  height: 700px;
  overflow: hidden;
  -webkit-animation: size-in 1s ease 1;
  -moz-animation: size-in 1s ease 1;
  animation: size-in 1s ease 1;
}
#color-box {
  margin: 35px;
  padding: 20px;
  text-align: center;
}
#my-color-box {
  margin: 35px;
  padding: 20px;
  text-align: justify;
}
/* End */

/* Inner Boxes */
.box {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.box:hover {
  box-shadow: 3px 3px 5px 6px #E5D084;
}
/* End */

/* Media Queries */
@media (max-width: 650px) {
  h1  {
   font-size: 20px;
   transition: ease all .5s;
 }
}
@media (max-width: 500px) {
  h1  {
   font-size: 15px;
   transition: ease all .5s;
 }
}

@media (max-width: 500px) {
 button {
   font-size: 10px;
   padding: 15px;
   margin: 0 0 10px 0;
   transition: ease all .5s;
 }
}

@media (max-width: 860px) {
 div {
   width: 100%;
   transition: ease all .5s;
 }
}

@media (max-height: 1000px) {
  #color-box,
  #my-color-box  {
   height: 650px;
   /* width: 350px; */
   transition: ease all .5s;
 }
}

@media (max-width: 1310px) {
  .box {
   width: 30px;
   height: 30px;
   transition: ease all .5s;
 }
}

@media (max-width: 1200px) {
  .box {
   width: 20px;
   height: 20px;
   border-radius: 5px;
   transition: ease all .5s;
 }
}

@media (max-width: 600px) {
  .box {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   transition: ease all .5s;
 }
}

@media (max-width: 600px) {
  .box {
   width: 9px;
   height: 9px;
   transition: ease all .5s;
 }
}
/* End */

/* Animations */
@-webkit-keyframes size-in {
  from {
    transform: scale(.1);
  }
  to {
    transform: scale(1);
  }
}
@-moz-keyframes size-in {
  from {
    transform: scale(.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes size-in {
  from {
    transform: scale(.1);
  }
  to {
    transform: scale(1);
  }
}
/* End */
